<!DOCTYPE html>
<html lang='ja'>

{% extends "app/base.html" %}

{% block title %}うちの子追加登録画面 - ワンスナップ{% endblock %}

{% block content %}
    <h2>うちの子追加登録</h2>      

        <form action="{% url 'add_dog' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

          <div id="dog-forms-container">
                <div class="dog-form">
                    {{ dog_form.dog_name.label_tag }}<br>
                    {{ dog_form.dog_name }}<br><br>
                    
                    {{ dog_form.breed.label_tag }}<br>
                    {{ dog_form.breed }}<br><br>
                    
                    {{ dog_form.gender.label_tag}}<br>
                    {{ dog_form.gender }}<br><br>
                    
                    {{ dog_form.birthday.label_tag }}<br>
                    {{ dog_form.birthday }}<br><br>

                    {{ dog_form.biography.label_tag }}<br>
                    {{ dog_form.biography }}<br><br>
                    
                    {{ dog_form.dog_image.label_tag }}<br>
                    {{ dog_form.dog_image }}<br><br>

                </div>
            </div><br>
            
            <button type="submit">登録する</button><br><br>

            <a href="{% url 'mypage' %}">
                <button type="button">キャンセル</button>
            </a>
        </form>
{% endblock %}
            