<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ワンスナップ{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app/base.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <h1><a href="{% url 'home' %}">ワンスナップ</a></h1>
    <nav>
        <a href="{% url 'home' %}">ホーム</a> |
        <a href="{% url 'mypage' %}">マイページ</a> |
    </nav>
    <hr>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>