<!DOCTYPE html>
<html lang='ja'>

    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>うちの子個別ページ</title>
    </head>

    <body>
        <h1>{{ dog.dog_name }}の部屋</h1>

        <img src="{{ dog.dog_image.url }}" alt="うちの子の写真">

        <p>うちの子の名前:{{ dog.dog_name }}</p><br><br>

        <p>犬種:{{ dog.breed }}</p><br><br>

        <p>性別:{{ dog.gender }}</p><br><br>

        <p>うちの子の誕生日:{{ dog.birthday }}</p><br><br>

        <p>うちの子からひとこと:{{ dog.biography }}</p><br><br>

        <a href="">
            <button type = "button">登録情報修正</button>
        </a><br><br>

        <h1>🐶今までの思い出🐶</h1>

        <form method="get">

            <label>
                <input type="radio" name="sort" value="new" {% if request.GET.sort == 'new' or not request.GET.sort %}checked{% endif %}>
                新しい順
            </label>
        
            <label>
                <input type="radio" name="sort" value="old" {% if request.GET.sort == 'old' %}checked{% endif %}>
                古い順
            </label>

            <input type="text" name='q' placeholder="2025-5 などで検索" value="{{ request.GET.q }}">
            <button type="submit">🔍</button>

        </form>

        <div class="post-list">
            {% for post in posts %}
                <div class="post">
                    <img src="{{ post.dog_image.url }}" alt="投稿画像" class="post-image" oneclick="ooenMdal('{{ post.id }}')">
                </div>
            {% empty %}
                <p>まだ投稿がありません</p>
            {% endfor%}
            </div>
    </body>
