<!DOCTYPE html>
<html lang='ja'>

{% extends "app/base.html" %}
{% load static %}

{% block title %}うちの子投稿編集ページ画面 - ワンスナップ{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/base.css' %}">
<link rel="stylesheet" href="{% static 'app/delete.css' %}">
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <h2>うちの子投稿編集ページ</h2>
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div id="dog-forms-container">
                    <div class="dog-form">
                        {{ edit_post_form.dog.label_tag }}<br>
                        {{ edit_post_form.dog }}<br><br>

                        {{ edit_post_form.image.label_tag }}<br>
                        {{ edit_post_form.image }}<br><br>

                        {{ edit_post_form.caption.label_tag }}<br>
                        {{ edit_post_form.caption }}<br><br>

                        {{ edit_post_form.memo.label_tag }}<br>
                        {{ edit_post_form.memo }}<br><br>
                    </div>
                </div><br>

                <div class="button-wrapper">
                    <button type="submit" class="submit-button">登録する</button>
                </div>

            </form>

            <div class="button-wrapper">
                <button type="button" class="delete-button" onclick="openDeleteModal()">投稿を削除する</button>
            </div>

        <div id="deleteModal" class="modal hidden">
            <div class="modal-content">
                <span class="close-btn" onclick="closeDeleteModal()">&times;</span>
                <p>投稿を削除しますか？</p>
                <form method="POST" action="{% url 'delete_post' post_id %}">
                    {% csrf_token%}
                    <button type="submit">削除する</button>
                    <button type="button" onclick="closeDeleteModal()">キャンセル</button>
                </form>
            </div>
        </div>

        <script>
        function openDeleteModal() {
            document.getElementById("deleteModal").style.display = "flex";
        }
        function closeDeleteModal() {
            document.getElementById("deleteModal").style.display = "none";
        }

        document.addEventListener('DOMContentLoaded', function() {
            const deleteModal = document.getElementById("deleteModal");
            deleteModal.addEventListener('click', function (event) {
                if (event.target === deleteModal) {
                    closeDeleteModal();
                }
            });

            deleteModal.style.display = "none";
        });

        </script>
        
{% endblock %}