<!DOCTYPE html>
<html lang='ja'>

{% extends "app/base.html" %}

{% block title %}パスワード変更画面 - ワンスナップ{% endblock %}

{% block content %}
    <h2>パスワード変更</h2>       

        <form method = "POST">
            {% csrf_token %}

            {{ password_form.old_password.label_tag }}<br>
            {{ password_form.old_password}}<br><br>

            {{ password_form.new_password1.label_tag }}<br>
            {{ password_form.new_password1}}<br><br>

            {{ password_form.new_password2.label_tag }}<br>
            {{ password_form.new_password2}}<br><br>

            <button type = "submit">変更する</button>
        </form>

        <a href="{% url 'mypage' %}">
            <button type="submit">キャンセル</button>
        </a>

{% endblock %}    