<!DOCTYPE html>
<html lang='ja'>

{% extends "app/base.html" %}

{% block title %}ホーム画面 - ワンスナップ{% endblock %}

{% block content %}
    <h2>🏠ホーム🏠</h2>

    <button type = "button" onclick="location.href='{% url 'create_post' %}'">うちの子投稿</button>
    
    <form method="get" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="犬種や月齢などキーワード入力">
        <button type="submit" aria-label="検索">🔍</button>
    </form>

    <label>
        <input type="radio" name="sort" valeu="new" {% if request.GET.sort == 'new' or not request.GET.sort %}checked{% endif %}>
        新しい順
    </label>
        
    <label>
        <input type="radio" name="sort" valeu="old" {% if request.GET.sort == 'old' %}checked{% endif %}>
        古い順
    </label>
    
    <div class="post-list">
        {% for post in posts %}
            <div class="post">
                <img src="{{ post.dog_image.url }}" alt="投稿画像" class="post-image" onclick="openModal('{{ post.id }}')">
            </div>
        {% empty %}
            <p>まだ投稿がありません</p>
        {% endfor %}
    </div>

    <div id ="postModal" class="modal" style="display: none;">
        <div clss="modal-content"
            <span class="close">&times;</span>
            <img id="modal-image" src="" akt="投稿画像" style="width: 100%;">
            <p id="modal-caption"></p>
        </div>
    </div>

    <script>
        function openModal(postId){

            const img = document.querySelector(`img[data-post-id='${postId}']`);
            const caption = img.getAttribute('data-caption');

            document.getElemntById('modal-image').src = imag.src;
            document.getElemntById('modal-caption').textContent = caption;
            document.getElemntById('postModal').style.display = "block";
        }

        document.addEventListener('DOMContentLoaded', function (){
            const modal = document.getElemntById('postModal');
            const closeBtn = modal.querySelector('.close');

            closeBtn.onclick = function () {
                modal.style.display = "none";
            }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        });
    </script>
    
{% endblock %}
    