<!DOCTYPE html>
<html lang='ja'>

    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>マイページ</title>
    </head>

    <body>
        <h1>🐶マイページ🐶</h1>

        <h2>うちの子一覧</h2>

        <ul>
            {% for dog in dogs %}
                <li>
                    <a href="{% url 'dog_detail' dog.id %}">{{ dog.dog_name }}の部屋</a>
                </li>
            
            {% empty %}
                <li>まだ登録されていません</li>
            
            {% endfor %}
        </ur><br><br>


        <a href="">
            <button type = "button">うちの子投稿</button>
        </a><br><br>

        <a href="">
            <button type = "button">お気に入り一覧</button>
        </a><br><br>

        <a href="">
            <button type = "button">うちの子新規追加</button>
        </a><br><br>

        <a href="">
            <button type = "button">ユーザー登録変更</button>
        </a><br><br>