<!DOCTYPE html>
<html lang='ja'>

{% extends "app/base.html" %}
{% load static %}

{% block title %}マイページ画面 - ワンスナップ{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/base.css' %}">
<link rel="stylesheet" href="{% static 'app/mypage.css' %}">
{% endblock %}



{% block content %}
    <h2>🐶マイページ🐶</h2>

    {% if messages %}
        <div id="popup-message">
            {% for message in messages %}
                <div class="popup {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="mypage-container">

        <details class="mypage-section" open>
            <summary>🐾 うちの子情報 🐾</summary>
            <ul>
                {% for dog in dogs %}
                    <li>
                        <a href="{% url 'dog_detail' dog.id %}">{{ dog.dog_name }}の部屋</a>
                    </li>
            
                {% empty %}
                    <li>まだ登録されていません</li>
            
                {% endfor %}
            </ul>
            <a href="{% url 'add_dog' %}" class="mypage-button">＋ うちの子新規追加</a>
        </details>

        <details class="mypage-section">
            <summary>📸 操作メニュー</summary>
            <a href="{% url 'create_post' %}" class="mypage-button">🐾 うちの子投稿</a>
            <a href="{% url 'favorite_list' %}" class="mypage-button">🌟 お気に入り一覧</a>
        </details>

        <details class="mypage-section">
            <summary>⚙️ アカウント設定</summary>
            <a href="{% url 'edit_user_email' %}" class="mypage-button">✉️ メールアドレス変更</a>
            <a href="{% url 'edit_user_password' %}" class="mypage-button">🔒 パスワード変更</a>
        </details>

    </div>        
{% endblock %}