<!DOCTYPE html>
<html lang='ja'>

{% extends "app/base.html" %}
{% load static %}

{% block title %}マイページ画面 - ワンスナップ{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'app/mypage.css' %}">
{% endblock %}



{% block content %}
    <h2>🐶マイページ🐶</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4>うちの子一覧</h4>

        <ul>
            {% for dog in dogs %}
                <li>
                    <a href="{% url 'dog_detail' dog.id %}">{{ dog.dog_name }}の部屋</a>
                </li>
            
            {% empty %}
                <li>まだ登録されていません</li>
            
            {% endfor %}
        </ul><br><br>

        <a href="{% url 'create_post' %}">
            <button type = "button">うちの子投稿</button>
        </a><br><br>

        <a href="{% url 'favorite_list' %}">
            <button type = "button">お気に入り一覧</button>
        </a><br><br>

        <a href="{% url 'add_dog' %}">
            <button type = "button">うちの子新規追加</button>
        </a><br><br>

        <a href="{% url 'edit_user_email' %}">
            <button type = "button">メールアドレス変更</button>
        </a><br><br>

        <a href="{% url 'edit_user_password' %}">
            <button type = "button">パスワード変更</button>
        </a><br><br>

        
{% endblock %}