#popup-message {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.popup {
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeout 5s forwards;
}

.popup.success {
    background-color: #fbdacb;
    color: black;
}

.popup.error {
    background-color: #dc3545;
}

@keyframes fadeout {
    0% { opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0; display: none;}
}

button {
    width: 200px;
    height: 45px;
    background-color: #ebdfbe;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .centered {
        padding: 0 10px;
    }

    button {
        width: 100%;
        font-size: 16px;
    }

    h2, h4 {
        font-size: 1.2em;
    }
}