#popup-message {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.popup {
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeout 5s forwards;
}

.popup.succces {
    background-color: #b2a017;
}

.popup.error {
    background-color: #dc3545;
}

@keyframes fadeout {
    0% { opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0; display: none;}
}